<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dieta App</title>
        <link rel="stylesheet" type="text/css" href="/dist/debug/all.css">
    </head>
    <body>
        <div id="container">

            loading...

        </div>
        <script src="/dist/debug/all.js"></script>
        <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>
